/* coded by Sofia Silva */
@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
  margin: 0;
  background-color: #6ec6a0;
  text-align: center;
  font-family: 'Bitter', serif;
  color: #1f5879;
}
#header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top:0;
  background-color: #f0f5f8;
  width: 100%;
  height: 100px;
  align-items: center;
  border-bottom: 2px solid;
}
#header-img {
  max-width:600px;
  max-height:100px;
  width: auto;
  height: auto;
}
main {
  background: url("https://s15.postimg.cc/t2xm0y4zv/blu_stripes.png");
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}
#nav-bar ul {
  list-style: none;
  display: flex;
  padding: 20px;
  margin: 20px;
  align-items: center;
}
#nav-bar li {
  list-style-type: none;
  margin: 0 10px;
  font-size: 18px;
}
.nav-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: #1f5879;
  padding-bottom: 4px;
}
.nav-link:hover {
  animation-name: border;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes border {
  0%{
    border-bottom: 2.5px transparent solid;
  }
  100% {
    border-bottom: 2.5px #1f5879 solid;
  }
}
.title {
  font-size: 37px;
  padding: 23px;
}
.row {
  display: flex;
  align-items: center;
}
.column {
  box-sizing: border-box;
}
.column.left {
  width: 30%;
}
.column.right {
  width: 70%;
  text-align: left;
}
.column.right h2 {
  margin-bottom: 0;
}
.column.right p {
  margin-top: 5px;
}
.fas {
  font-size: 50px;
  color: #10afad;
}
#video {
  padding: 60px;
}
#pricing {
  margin-top: 50px;
  display:flex;
  max-width: 740px;
  margin: auto;
  width:100%;
}
#pricing span {
  font-size: 30px;
}
.package {
  border: 2px #1f5879 solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background:#f0f5f8;
  background: linear-gradient( #6ec6a0, #7bcaa900);
  max-width: 250px;
}
.package h3 {
  border-bottom: 2.5px #1f5879 solid;
  padding-bottom: 10px;
}
.package:hover {
  background: #f0f5f8;
}
button {
    background-color: #10afad;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover {
  background: #1f5879;
}
#form {
  margin-top: 27px;
  padding: 10px;
}
#form label {
  font-size: 24px;
}
#email {
  margin-top: 25px;
  padding: 8px;
  max-width: 500px;
}
#submit {
    padding: 8px;
    background-color: #10afad;
    border: none;
    color: white;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
footer {
  background-color:#f0f5f8;
  padding: 14px;
  border-top: 2px #1f5879 solid;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
footer a {
  text-decoration: none;
  padding: 10px;
  color: #10afad;
}

@media screen and (max-width: 800px) {
  main {
    padding:5px;
  }
}
@media screen and (max-width: 700px) {
  #pricing {
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
  }
  .package {
    margin: auto;
    margin-bottom: 10px;
  }
}
