/* coded by Sofia Silva */
@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
  margin: 0;
  background-color: #6ec6a0; 
  text-align: center;
  font-family: 'Bitter', serif;
  color: #1f5879;
}
#header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top:0;
  background-color: #fffffff0;
  width: 100%;
  height: 100px;
  align-items: center;
  border-bottom: 2px solid;
}
#header-img {
  max-width:600px;
  max-height:100px;
  width: auto;
  height: auto;
}
main {
  background: url("https://s15.postimg.cc/t2xm0y4zv/blu_stripes.png");
  width: 800px;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}
ul {
  list-style: none;
  display: flex;
  padding: 20px;
  margin: 20px;
  align-items: center;
}
li {
  list-style-type: none;
  margin: 0 10px;
  font-size: 18px;
}
.nav-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: #1f5879;
  padding-bottom: 4px;
}
.nav-link:hover {
  animation-name: border;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes border {
  0%{
    border-bottom: 2.5px transparent solid;
  }
  100% {
    border-bottom: 2.5px #1f5879 solid; 
  }
}
.title {
  font-size: 30px;
}
.row {
  display: flex;
  align-items: center;
}
.column {
  box-sizing: border-box;
}
.column.left {
  width: 30%;
}
.column.right {
  width: 70%;
  text-align: left;
}
.column.right h2 {
  margin-bottom: 0;
}
.column.right p {
  margin-top: 5px;
}
.fas {
  font-size: 50px;
  color: #10afad;
}
#video {
  padding: 50px;
}
